{% extends 'base.html' %}
<!DOCTYPE html>
<html>
  <head>
    {% block head %}
    <title>Home</title>
    {% endblock %}
  </head>
  <body>
    {% block body %}
    <div class="jumbotron">
      <h1 class="display-4">Essa é a HomePage!</h1>
      <p class="lead">Isso é um componente jumbotron, do bootstrap.</p>
      <hr class="my-4">
      <p>O botão abaixo deve te levar pra aula de Django, se eu tiver implementado.</p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="/home/aula" role="button">Aula Django</a>
      </p>
    </div>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sodales nunc augue, a gravida ante molestie vel. Aenean eget consectetur massa, ac suscipit felis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec ac dignissim lacus. Etiam in posuere lorem. Ut sed dui sed nunc venenatis lobortis. In pulvinar faucibus tincidunt. Vivamus augue neque, luctus in auctor ut, auctor vitae enim. Vestibulum vitae magna tristique nibh venenatis convallis. Phasellus fringilla sit amet quam eget venenatis. Nullam ullamcorper et arcu at facilisis. Proin a diam vestibulum, dignissim odio in, ultrices sem. Fusce ultricies facilisis facilisis.

    Aenean et sapien ut elit volutpat pulvinar. Pellentesque a velit quis dolor semper malesuada. Vestibulum rutrum hendrerit libero, a mattis dolor convallis sit amet. Fusce imperdiet faucibus ex, id sodales lectus aliquam eu. Suspendisse sit amet nisl ut ipsum bibendum luctus id sed mi. Aliquam posuere urna dui, eu consequat lacus pharetra ut. Phasellus eleifend orci ut lacus porttitor vestibulum. Donec egestas, ex ut laoreet rhoncus, turpis leo consequat felis, et dictum tellus nisl non massa. Nullam consequat, est vel elementum pulvinar, lorem orci vulputate odio, a aliquet enim nisl at arcu. Integer sit amet nibh id enim congue rutrum vitae ut urna. Sed sodales scelerisque feugiat. Cras ornare mi arcu, sit amet suscipit lorem varius a. Maecenas volutpat interdum felis, sit amet tempus nunc sollicitudin et.

    Etiam orci odio, sagittis a viverra sollicitudin, vehicula sit amet arcu. Donec pulvinar nibh non risus gravida, eu consequat velit rhoncus. Ut consectetur at lorem eget dapibus. Praesent interdum metus sit amet sapien auctor congue. Nulla facilisi. Donec sollicitudin in mauris eu blandit. Aliquam ac diam non lectus pellentesque pharetra. Morbi id erat tortor. Cras et congue urna.

    Curabitur lorem risus, suscipit nec euismod vitae, fringilla ac libero. Nunc euismod libero ac varius gravida. Aenean in lorem felis. Donec ullamcorper vehicula eros, sit amet pulvinar tellus efficitur sit amet. Morbi tempus sapien mi, sed sagittis nibh porta vel. Duis pretium odio quis tempus tempor. Sed in mauris sit amet metus mattis ullamcorper sed non lorem. Suspendisse ex lectus, hendrerit a fringilla a, rhoncus sed sapien. Sed malesuada ut urna vitae eleifend. Nunc finibus ultricies accumsan. Mauris feugiat eros neque, ut semper ipsum efficitur et. Nulla sit amet massa non est auctor scelerisque. Vivamus sem elit, finibus eget dignissim nec, accumsan a mauris. Nulla ornare sit amet lacus eu placerat.

    Nunc tempus quis est sit amet molestie. Mauris id erat nec eros mattis mollis sit amet eu velit. Praesent non diam eget dui congue tincidunt at eget ipsum. Duis efficitur orci eu nulla pulvinar, quis eleifend urna ullamcorper. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus pellentesque pretium quam, sit amet laoreet arcu pellentesque vitae. Maecenas feugiat mauris nec sagittis porta. Suspendisse sit amet posuere mi.

    Fusce scelerisque arcu non magna congue lacinia. Praesent consequat, sapien quis posuere tincidunt, leo leo iaculis purus, ac ultricies orci neque et ante. Mauris et odio quis odio tristique imperdiet. Aenean sed tempor augue, interdum cursus diam. Nulla efficitur est vel varius viverra. Sed vestibulum vel ligula id faucibus. Sed vitae euismod elit.

    {% endblock %}
  </body>
</html>
